@model INF4001N_1814748_NVSAAY001_2024.ViewModels.CastVoteViewModel

@{
    ViewBag.Title = "Cast Your Vote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cast Your Vote</h2>

<div class="container mt-4">
    @using (Html.BeginForm("CastVote", "Vote", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <h4>2024 National Elections</h4>
        <hr />
        <div class="form-group">
            @foreach (var candidate in Model.NationalElectionCandidates)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="SelectedNationalCandidateId" value="@candidate.CandidateId" id="national-candidate-@candidate.CandidateId" />
                    <label class="form-check-label" for="national-candidate-@candidate.CandidateId">
                        @candidate.Name (@candidate.Party)
                    </label>
                </div>
            }
        </div>

        <h4>2024 Provincial Elections</h4>
        <hr />
        <div class="form-group">
            @foreach (var candidate in Model.ProvincialElectionCandidates)
            {
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="SelectedProvincialCandidateId" value="@candidate.CandidateId" id="provincial-candidate-@candidate.CandidateId" />
                    <label class="form-check-label" for="provincial-candidate-@candidate.CandidateId">
                        @candidate.Name (@candidate.Party)
                    </label>
                </div>
            }
        </div>

        <button type="submit" class="btn btn-primary mt-3">Submit Vote</button>
    }
</div>